/* Navbar styles */
.nev-container {
    margin: 2rem auto;
    background-color: #fff; /* Background color */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    padding: 20px; /* Add padding */
  }
  
  .navbar {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .navbar-nav {
    display: flex; /* Use flexbox */
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .nav-item {
    margin: 0 10px; /* Add some space between menu items */
  }
  
  .nav-link {
    color: #333; /* Text color */
    font-size: 18px; /* Text size */
    font-weight: bold; /* Text weight */
    text-decoration: none; /* Remove underline */
    text-transform: uppercase; /* Uppercase text */
    transition: all 0.3s ease-in-out; /* Add smooth transition */
  }
  
  /* Hover effects */
  .nav-link:hover {
    padding: 0.8rem;
    color: #fff; /* Text color on hover */
    background-color: #333; /* Background color on hover */
    border-radius: 0.4rem; /* Add rounded corners */
  }
  

  .navbar-container {
    display: flex;
    justify-content: center;
    font-weight: 800;
    transition: 1s;
    padding: 1rem;
    max-width: 62rem;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    max-width: 10rem;
    background-color: #ebf0f5;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 100rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

.navbar-nav.active {
    display: flex;
}

.nav-item {
    display: block;
    position: relative;
    margin: 0 auto;
}

.nav-link {
    display: block;
    padding: 0.8rem;
    color: #363636;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #da6a03;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
    border-top: 0.2rem solid #363636;
    border-bottom: 0.2rem solid #363636;
    transition: transform 0.3s;
}

.navbar-toggler-icon.active {
    transform: rotate(90deg);
}

@media (min-width: 768px) {
    .navbar {
        max-width: none;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-toggler {
        display: none;
    }
}