body {
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

hr {
    border-style: solid none none none;
    border-color: #393E46;
    height: 1px;
}

#top {
    background-color: rgb(243, 243, 243);
    height: 260px;
}

#header {
    background-color: #e7e7e7;
    position: absolute;
    width: 100%;
}

.doted {
    border-width: 10px;
    width: 20%;
}

.bookrack {
    display: block;
    height: 200px;
}

.bookcover {
    position: relative;
    margin: 5px;
    width: 100px;

}

.bookcover:hover{
    transition-duration: 50ms;
    width: 120px;
}

/* 
#F2E7D5 */